:root {
  --bg-dark: hsl(0 0% 1%);
  --bg: hsl(330 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(300 0% 69%);
  --border: hsl(0 0% 28%);
  --border-muted: hsl(300 0% 18%);
  --gradient: linear-gradient(
    0deg, var(--bg), var(--bg-light)
  )
}

body {
  background: var(--bg-dark);
  color: var(--text);
  font-family: var(--blackletter);
  margin: 0;
}