:root {
  --background: #ffffff;
  --text: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0 0% 1%);
    --text: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 9%);
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-unifraktur-maguntia);
}
