:root {
  --bg-dark: hsl(0 0% 1%);
  --bg: hsl(0 0% 4%);
  --bg-light: hsl(0 0% 9%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);
  --border: hsl(0 0% 32%);
  --border-muted: hsl(0 0% 24%);
  --gradient: linear-gradient(
    0deg, var(--bg), var(--bg-light)
  )
}

body {
  background: var(--bg-dark);
  color: var(--text);
  font-family: var(--blackletter);
  margin: 0;
}

h2 {
  color: var(--text-muted)
}