/*Header*/
.header {
    background: var(--bg-light);
    border-bottom: solid 1px var(--border-muted);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    height: 80px;
    width: 100%;
}

/*Avatar*/
.avatar {
    background: var(--gradient) !important;
    border: solid 1px var(--border-muted) !important;
}

.avatar:hover {
    background: var(--gradient-hover) !important;
}

/*Game cards*/
.gameCard {
    background: var(--bg) !important;
    color: var(--text) !important;
    width: 50vw !important;
}

.gameCard :global(.ant-card-head) {
    color: var(--text) !important;
}