/*Header*/
.header {
    background: var(--bg-light);
    border-bottom: solid 1px var(--border-muted);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    height: 80px;
}

/*Avatar*/
.avatar {
    background: var(--gradient) !important;
    border: solid 1px var(--border-muted) !important;
}

.avatar:hover {
    background: var(--gradient-hover) !important;
}